@model MyWebApp.Models.Archive

@{
    ViewData["Title"] = "Archive Details";
}

<h1>Archive Details</h1>


<div>
            
    <!-- h4>Users</h4 -->
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member3)
        </dd>
    </dl>
</div>
<div>
    <!-- a asp-action="Edit" asp-route-id="@Model.AId">Update Profile</a--> 
    <!-- a asp-action="Index">Back to List</a -->
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
