@model MyWebApp.Models.CollectionDataModel

<style>
    hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
</style>


   <h4  style="text-align:center">Teacher info</h4>
@if(Model.Teachers !=null)
{
 
    <table >
    <tr>
        <th  style="padding: 15px"  >Id</th>
        <th  style="padding: 15px"  >Name</th>
        <th  style="padding: 15px" >Email</th>
    </tr>
    @foreach (Teacher teacher in Model.Teachers)
    {
        <tr>
            <td>@teacher.Id</td>
            <td>@teacher.FullName</td>
            <td>@teacher.Email</td>
            <td  style="padding: 15px" >
                <a asp-action="TeacherEdit" asp-route-id="@teacher.Id">Edit</a> |
                <a asp-action="TeacherDetails" asp-route-id="@teacher.Id">Details</a> |
                <a asp-action="TeacherDelete" asp-route-id="@teacher.Id">Delete</a>
            </td>
        </tr> 
    }
</table>

}
else
{
    <p>No Teacher is added</p>
}

<div>
<p>
    <a asp-action="AddTeacher">Create New</a>
</p>
</div>

<br/>
<br/>
<hr class="rounded">


<h4  style="text-align:center">Notice</h4>
@if(Model.Notices !=null)
{
    
    <table>
    <tr style="padding: 5px">
        <th  style="padding: 15px" >Id</th>
        <th  style="padding: 15px" >Short Description</th>
        <th  style="padding: 15px">Descriptin</th>
        <th  style="padding: 15px">Time</th>
    </tr>
    @foreach (Notice notice in Model.Notices)
    {
        <tr>
            <td>@notice.NId</td>
            <td>@notice.ShortDescription</td>
            <td>@notice.Description</td>
            <td>@notice.Time</td>
            <td  style="padding: 15px" >
                <a asp-action="NoticeEdit" asp-route-id="@notice.NId">Edit</a> |
                <a asp-action="NoticeDetails" asp-route-id="@notice.NId">Details</a> |
                <a asp-action="NoticeDelete" asp-route-id="@notice.NId">Delete</a>
            </td>
        </tr> 
    }
</table>

}
else
{
    <p>No Notice is added</p>
}

<div>
<p>
    <a asp-action="AddNotice">Create New</a>
</p>
</div>

<br/>
<br/>
<hr class="rounded">

 <h4  style="text-align:center">Teams</h4>
@if(Model.Teams !=null)
{
   
    <table>
    <tr style="padding: 5px">
        <th  style="padding: 15px" >Team Id</th>
        <th  style="padding: 15px" >Team Name</th>
        <th  style="padding: 15px">Member 1</th>
        <th  style="padding: 15px">Member 2</th>
        <th  style="padding: 15px">Member 3</th>
        <th  style="padding: 15px">Email</th>
        <th  style="padding: 15px">Phonenumber</th>
    </tr>
    @foreach (Team team in Model.Teams)
    {
        <tr>
            <td>@team.TId</td>
            <td>@team.TeamName</td>
            <td>@team.Member1</td>
            <td>@team.Member2</td>
            <td>@team.Member3</td>
            <td>@team.Email</td>
            <td>@team.Phonenumber</td>
            <td  style="padding: 15px" >
                <a asp-action="TeamEdit" asp-route-id="@team.TId">Edit</a> |
                @* <a asp-action="NoticeDetails" asp-route-id="@team.TId">Details</a> | *@
                <a asp-action="TeamDelete" asp-route-id="@team.TId">Delete</a>
            </td>
        </tr> 
    }
</table>

}
else
{
    <p>No Team is added</p>
}

<div>
<p>
    <a asp-action="AddTeam">Create New</a>
</p>
</div>

<br/>
<br/>
<hr class="rounded">

 <h4  style="text-align:center">Archives</h4>
@if(Model.Archives !=null)
{
   
    <table>
    <tr style="padding: 5px">
        <th  style="padding: 15px" >Archive Id</th>
        <th  style="padding: 15px" >Contest Name</th>
        <th  style="padding: 15px" >Year</th>
        <th  style="padding: 15px" >position</th>
        @* <th  style="padding: 15px">Member 1</th>
        <th  style="padding: 15px">Member 2</th>
        <th  style="padding: 15px">Member 3</th> *@
    </tr>
    @foreach (Archive archive in Model.Archives)
    {
        <tr>
            <td>@archive.AId</td>
            <td>@archive.ContestName</td>
            <td>@archive.Year</td>
            <td>@archive.Position</td>
            @* <td>@archive.Member1</td>
            <td>@archive.Member2</td>
            <td>@archive.Member3</td> *@
            
            <td  style="padding: 15px" >
                <a asp-action="ArchiveEdit" asp-route-id="@archive.AId">Edit</a> |
                <a asp-action="ArchiveDetails" asp-route-id="@archive.AId">Details</a> |
                <a asp-action="ArchiveDelete" asp-route-id="@archive.AId">Delete</a>
            </td>
        </tr> 
    }
</table>

}
else
{
    <p>No archive is added</p>
}

<div>
<p>
    <a asp-action="AddArchive">Create New</a>
</p>
</div>

<br/>
<br/>
<hr class="rounded">



 <h4  style="text-align:center">Home images</h4>
@if(Model.Archives !=null)
{
   
    <table>
    <tr style="padding: 5px">
        <th  style="padding: 15px" >Image Id</th>
        <th  style="padding: 15px" >Image Name</th>
        <th  style="padding: 15px" >Image</th>
        @* <th  style="padding: 15px">Member 1</th>
        <th  style="padding: 15px">Member 2</th>
        <th  style="padding: 15px">Member 3</th> *@
    </tr>
    @foreach (ImageUp image in Model.Images)
    {
        @if(string.Compare(image.ImageName, "homeimage")==0)
        {

        
        <tr>
            <td>@image.ImageId</td>
            <td>@image.ImageName</td>

            @{
               string imageBase64Data = Convert.ToBase64String(image.Datafiles);
                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
               var img = imageDataURL;
            }

            
            <td> <img style="width: 100%;height: 100px;  object-fit: contain;" src="@img" /></td>
            @* <td>@archive.Member1</td>
            <td>@archive.Member2</td>
            <td>@archive.Member3</td> *@
            
            <td  style="padding: 15px" >
                @* <a asp-action="ArchiveEdit" asp-route-id="@archive.AId">Edit</a> | *@
                @* <a asp-action="ArchiveDetails" asp-route-id="@archive.AId">Details</a> | *@
                <a asp-action="HomeImageDelete" asp-route-id="@image.ImageId">Delete</a>
            </td>
        </tr> 
    }
    }
</table>

}
else
{
    <p>No Image is added</p>
}

<div>
<p>
    <a asp-action="AddHomeImage">Create New</a>
</p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<style>
    table,th,
td {
    border: 1px solid #333;
    text-align: center;
}
</style>