@model MyWebApp.Models.CollectionDataModel


@if(Model !=null)
{
    <table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (Teacher teacher in Model.Teachers)
    {
        <tr>
            <td>@teacher.Id</td>
            <td>@teacher.FullName</td>
            <td>@teacher.Email</td>
            <td>
                <a asp-action="TeacherEdit" asp-route-id="@teacher.Id">Edit</a> |
                <a asp-action="TeacherDetails" asp-route-id="@teacher.Id">Details</a> |
                <a asp-action="TeacherDelete" asp-route-id="@teacher.Id">Delete</a>
            </td>
        </tr> 
    }
</table>

}
else
{
    <p>No Teacher is added</p>
}

<div>
<p>
    <a asp-action="AddTeacher">Create New</a>
</p>
</div>