@model MyWebApp.Models.CollectionDataModel
@{
    ViewData["Title"] = "Home";
}

<p id="forcheck" style="display:none;">1</p>

<!-- div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul id="exampleSlider" class = "slideshow">



@foreach (ImageUp item in Model.Images)
{

                <li>

        @{
            string imageBase64Data = Convert.ToBase64String(item.Datafiles);
            string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
            var imgs = imageDataURL;
        }
                <img class="img2" src="@imgs" alt="" /></li>
}

    <li><img class="img2" src="~/Images/1.jpg" alt="" /></li>
    <li><img class="img2" src="~/Images/2.jpg" alt="" /></li>
    <li><img class="img2" src="~/Images/3.jpg" alt="" /></li>
    <li><img class="img2" src="~/Images/4.jpg" alt="" /></li>

</ul -->

@if (Model.Notices != null)
{
    <div id="noticetable" style="background-color: aquamarine;width:1500px; margin-left:-200px;">

        <marquee style="background-color: transparent;" direction="left" scrolldelay="10" onmouseover="this.stop();"
        hspace="120" loop="infinite" onmouseout="this.start();">
            <ul>
                @{
                    Notice notice = Model.Notices[0];

                }

                @* @foreach (Notice notice in Model.Notices) *@

                <li id="noticetabletrr" style="margin-top:5px;margin-right:20px;">

                    <p style="width:200px;height:18px;"> <b>@notice.ShortDescription :</b> @notice.Description </p>


                    @* <td>@notice.NId</td>
                        <td>@notice.ShortDescription</td>
                        <td>@notice.Description</td>
                        <td>@notice.Time</td> *@

                </li>


            </ul>
        </marquee>
    </div>

}

<h5 id="show"></h5>
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->



    @foreach (ImageUp item in Model.Images)
    {

        <div class="mySlides fadee">

            @{
                string imageBase64Data = Convert.ToBase64String(item.Datafiles);
                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
                var imgs = imageDataURL;
            }


            <img src="@imgs" style="height: 400px;width:100%">
        </div>


    }
</div>
<br>

<div style="text-align:center">
    @foreach (ImageUp item in Model.Images)
    {
        <span class="dot"></span>
    }
</div>

<br />

<div class="aboutmain">


    <div class="about">
        <h1 style="color: aliceblue;">About SGIPC</h1>
        <p style="margin-top:10px;font-size: 15px;color: antiquewhite;">

            Welcome, to the programming group of <a href="https://www.kuet.ac.bd/"><b>Khulna University of Engineering &
                    Technology</b></a>. It is a group which is specially created for programmer students who are
            interested in programming specially ACM solve, NCPC programming contest, University programming contest and
            etc.
            SGIPC means Special Group of Interest in Programming Contest. It is mainly a group of programmers who are
            developing their programming skills by learning, solving, practicing & teaching others different types of
            problems.

            This group also organize different programming contest as single and group or team. It has already organized
            many contests and sends teams to National contest NCPC and different university festivals programming
            contests.

            If you have any interest on programming and you have already learned basic programming language, you are
            mostly invited to our programming group.

            We are already started to teach the student of schools and colleges who are interested on programming.

            If you have any questions about SGIPC, please mail us to <i>sgipckuet01@gmail.com</i>
        </p>

    </div>
    <div style="margin-top: 80px; margin-left: 40px; text-align: center; ">
        <img style=" border-radius:3px; text-align: center; width: 300px;" src="~/Images/aboutimg2.jpg" />
    </div>

</div>




<div class="running_problems">

    <h4 class="textstylei" >Running Submissions</h4>

    
    @if (Model.Publish_submission != null)
    {
        <div style="margin-top: 30px;"></div>


        <table class="tableclass">
            <tr>
                <th style="padding: 15px">Name</th>
                <th style="padding: 15px">Problem Name</th>
                <th style="padding: 15px">Time</th>
                <th style="padding: 15px">Verdict</th>
                <th style="padding: 15px">Problem Id</th>

            </tr>
            @foreach (publish_submission ps in Model.Publish_submission)
            {
                <tr>
                    <td>@ps.user_name</td>
                    <td>@ps.problem_name</td>
                        <td>

                        @{

                            string time_ = ps.time_;

                            //time_ = time_.Substring(0, time_.Length - 2);
                            DateTime oDate = Convert.ToDateTime(time_);
                            string result = string.Empty;

                            var timeSpan = DateTime.Now.Subtract(oDate);

                            if (timeSpan <= TimeSpan.FromSeconds(60))
                            {
                                result = string.Format("{0} seconds ago", timeSpan.Seconds);
                            }
                            else if (timeSpan <= TimeSpan.FromMinutes(60))
                            {
                                result = timeSpan.Minutes > 1 ?
                                String.Format("about {0} minutes ago", timeSpan.Minutes) :
                                "about a minute ago";
                            }
                            else if (timeSpan <= TimeSpan.FromHours(24))
                            {
                                result = timeSpan.Hours > 1 ?
                                String.Format("about {0} hours ago", timeSpan.Hours) :
                                "about an hour ago";
                            }
                            else
                            {
                                result = time_;
                            } /*
                            else if (timeSpan <= TimeSpan.FromDays(30))
                            {
                                result = timeSpan.Days > 1 ?
                                String.Format("about {0} days ago", timeSpan.Days) :
                                "yesterday";
                            }
                            else if (timeSpan <= TimeSpan.FromDays(365))
                            {
                                result = timeSpan.Days > 30 ?
                                String.Format("about {0} months ago", timeSpan.Days / 30) :
                                "about a month ago";
                            }
                            else
                            {
                                result = timeSpan.Days > 365 ?
                                String.Format("about {0} years ago", timeSpan.Days / 365) :
                                "about a year ago";
                            }*/

                            

                        }
                        @ps.time_
                        </td>

                    
                               @if(string.Compare(ps.verdict, "OK")==0)
                               {
                                   <td style="color: #48ff05;font-weight:normal;">
                                       ACCEPTED
                                    </td>
                                   
                               }
                        else{
                             <td style="color: red;">
                                       @ps.verdict
                                    </td>

                        }

                    <td>
                        @{
                            string url = "https://codeforces.com/problemset/problem/" + @ps.contest_id + "/" + @ps.problem_id;

                        }
                        <a href=@url>
                            @ps.contest_id @ps.problem_id
                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        <p>No problem is found</p>
    }

</div>


@* <!-- div style="width: 100%;
  height: 100px;
  background-color:cyan;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;">

    <a style="height: 40px;
  width: 40px;
  background-color: #f5f6fa;
  border-radius: 10px;
  margin:4px;
  box-shadow:  1px 4px 2px 2px #dcdde1;" href="https://www.facebook.com/groups/sgipc.kuet">
        <img style=" margin-top:5px;height: 30px;width:auto;" src="~/Images/fb_icon.png" />
    </a>
    <a style=" height: 40px;
  width: 40px;
  background-color: #f5f6fa;
  border-radius: 10px;
  margin:4px;
  box-shadow:  1px 4px 2px 2px #dcdde1;" href="https://discord.gg/XF9eyuQA">
        <img style=" margin-top:5px; height: 30px;width:auto;" src="~/Images/ds_icon.png" />
    </a>



</div --> *@