@model IEnumerable<MyWebApp.Models.Users>;

@{
    ViewData["Title"] = "Index";
}


<div style="margin-top: 100px;text-align: center;"></div>

<div class="boxshadowi" style="text-align: center;">
    <h4 class="noticehead">Members</h4>
    <table class="tableclass">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNUmber)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNUmber)
                    </td>
                    
                    <td>
                        @* <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> | *@
                        <a asp-action="DetailsMember" asp-route-id="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
