@model MyWebApp.Models.CollectionDataModel

@{
    ViewData["Title"] = "About";
}



<div style="margin-top: 100px;text-align: center;"></div>

<div  class="boxshadowi"  style="text-align: center;" >
    <h4 class="noticehead">Members</h4>
    @if (Model.usersWithRating != null)
    {

        <table class="tableclass" style="margin-top:25px;">
            <tr>
                <th style="padding: 15px">Name</th>
                <th style="padding: 15px">Codeforces Id</th>
                <th style="padding: 15px">Cf Rating</th>
                @* <th style="padding: 15px">Email</th> *@
            </tr>
            @foreach (UserWithRating u in Model.usersWithRating)
            {
                <tr>
                    <td>  <a style="text-decoration: none; color: rgb(186, 219, 224);" asp-controller="Users" asp-action="DetailsMember" asp-route-id="@u.users.UserId" >@u.users.FullName</a></td>
                    <td>@u.users.CfId</td>
                    <td>@u.rating</td>
                    @* <td>@u.users.Email</td> *@
                </tr>
            }
        </table>

    }
    else
    {
        <p>No User is added</p>
    }
</div>
@* 
<hr class="rounded"> *@

<div style="margin-top: 100px; margin-left: 150px;"></div>

<div class="boxshadowi" style="text-align: center;" >
    <h4 class="noticehead" style="align-items: center;">Coaches</h4>
    @if (Model.Teachers != null)
    {

        <table class="tableclass" style="margin-top:25px;width:530px;">
            <tr>
                @* <th style="padding: 15px">Id</th> *@
                <th style="padding: 15px">Name</th>
                <th style="padding: 15px">Email</th>
            </tr>
            @foreach (Teacher teacher in Model.Teachers)
            {
               
                <tr>

                    
                    @* <td>@teacher.Id</td> *@
                    <td>  <a style="text-decoration: none; color: rgb(186, 219, 224);" asp-controller="Admin" asp-action="TeacherDetails" asp-route-id="@teacher.Id" >@teacher.FullName</a></td>
                    <td>@teacher.Email</td>

                </tr>
            }
        </table>

    }
    else
    {
        <p>No Teacher is added</p>
    }
</div>

<hr class="rounded">

<div style="margin-top: 100px;"></div>

<div  class="boxshadowi" style="text-align: center;" >
    <h4 class="noticehead">Teams</h4>
    @if (Model.Teams != null)
    {

        <table class="tableclass" style="margin-top:25px;width:100%;">
            <tr>
                <th style="padding: 15px">Team Name</th>
                <th style="padding: 15px">Member1</th>
                <th style="padding: 15px">Member2</th>
                <th style="padding: 15px">Member3</th>
            </tr>
            @foreach (Team t in Model.Teams)
            {
                <tr>
                    <td>@t.TeamName</td>
                    <td>@t.Member1</td>
                    <td>@t.Member2</td>
                    <td>@t.Member3</td>
                </tr>
            }
        </table>

    }
    else
    {
        <p>No Team is added</p>
    }
</div>

<hr class="rounded">


<div style="margin-top: 100px;"></div>

<div  class="boxshadowi" style="text-align: center;" >
    <h4 class="noticehead">Achivements</h4>
    @if (Model.Archives != null)
    {

        <table class="tableclass" style="margin-top:25px;width:100%">
            <tr>
                <th style="padding: 15px">Year</th>
                <th style="padding: 15px">Position</th>
                <th style="padding: 15px">Contest Name</th>
                <th style="padding: 15px">Team Name</th>
                <th style="padding: 15px"></th>
            </tr>
            @foreach (Archive a in Model.Archives)
            {
                <tr>
                    <td>@a.Year</td>
                    <td>@a.Position</td>
                    <td>@a.ContestName</td>
                    <td>@a.TeamName</td>
                    
                    <td>  <a style="text-decoration: none; color: #297df0;" asp-controller="Admin" asp-action="ArchiveDetails" asp-route-id="@a.AId" >Details</a></td>
                   
                    
                </tr>
            }
        </table>

    }
    else
    {
        <p>No archives is added</p>
    }
</div>
